<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='CSS/AdminLogin.css') }}">

        <link rel="icon" href="{{url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="login-container"> 
        <img src="{{url_for('static', filename='Assets/logo.png') }}" alt="Logo">
        <h2>Admin Login</h2>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{url_for('admin_register') }}">Register a New Admin</a>
        <a href="{{url_for('login') }}">User Login</a>
    </div>
</body>
</html>