<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='CSS/forgotpassword.css') }}">

<link rel="icon" href="{{url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
<body>
    <div class="forgot-password-container">
        <div class="title">Forgot Password</div>
        
        <div class="input-block">
            <form method="POST" action="{{ url_for('forgot_password') }}">
                
                <div class="input-fields">
                    <label for="reg_number">Registration Number:</label>
                    <input type="text" id="reg_number" class="regnum-field" name="reg_number" required>
                    
                    <label for="contact">Contact Number:</label>
                    <input type="text" id="contact" class="contact-field" name="contact" required>
                </div>

                <div class="button-container">
                    <button class="submit" type="submit">Submit</button> 
                </div>  
            </form>
        </div>
    
        <a class="back-to-login" href="{{ url_for('login') }}">Back to Login</a>
    </div>
</body>
</html>
