<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<link rel="stylesheet" href="{{url_for('static', filename='CSS/forgotpassword.css') }}">

<link rel="icon" href="{{url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
<body>
    <div class="container">
    <h1>Forgot Password</h1>
    <form method="POST" action="{{ url_for('forgot_password') }}">
            <label for="reg_number">Registration Number:</label>
            <input type="text" id="reg_number" class="resizable-box" name="reg_number" required>
            
            <label for="contact">Contact Number:</label>
            <input type="text" id="contact" class="resizable-box"   name="contact" required>
            
            <button class="submit" type="submit">Submit</button>   
    </form>
    <a href="{{ url_for('login') }}">Back to Login</a>
</body>
</html>
