<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Report.css') }}">
    <link rel="icon" href="{{url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
    
</head>
<body>
    <div class="container">
        <div class="form-header">
            <div class="form-title">
                <p>Fish Report</p>
            </div>

            <div class="user-icon-container dropdown">
                <button class="dropdown-toggle">
                    <img class="user-icon" src="{{url_for('static', filename='Assets/user.svg') }}">
                </button>
                <div class="dropdown-menu">
                    <a href="{{ url_for('my_reports') }}">My Reports</a>
                    <a href="{{ url_for('logout') }}"><span style="color: red;">Logout</span></a>
                </div>
            </div>
        </div>
        <form method="POST" id="reportForm">
            <label>Name (Boat Captain or Operator): </label>           
            <input type="text" name="name" placeholder="pangalan ng may-ari o operator ng bangka" required>

            <label> Fishing Vessel Name:</label>
            <input type="text" name="vessel" placeholder="pangalan ng bangka" required>

            <label>Frequency</label>
            <input type="text" name="frequent" placeholder="dalas ng pag-laot" required>

            <label>Date</label>
            <input type="date" name="date" required>

            <!-- Catch 1 -->
            <label>Catch 1:</label>
            <label class="label-under">Fish Species for Catch 1:</label>
            <select name="catch1" required>
                <option value="" disabled selected hidden>species o klase ng isda</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <!-- 2 columns -->
            <div class="two-col-container">
                <div class="price">
                    <label class="label-inside">Price for Catch 1:</label>

                    <input type="number" min="0" name="price1" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <label class="label-inside">Volume for Catch 1:</label>
                    <input  type="number" min="0" name="volume1" placeholder="timbang kada kilo (kg's)" required>
                </div>
            </div>

            <div class="two-col-container">
                <div class="site">
                    <label class="label-inside">Fishing Ground for Catch 1:</label>
                    <select name="site1" required>
                        <option value="" disabled selected hidden>lugar kung saan nahuli ang isda</option>
                        {% for item in site %}
                            <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="landing">
                    <label class="label-inside">Fish Landing Site for Catch 1:</label>
                    <select name="landing1" required>
                        <option value="" disabled selected hidden>lugar na pinagbentahan</option>
                        {% for item in landing %}
                            <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="two-col-container">
                <div class="hours"> 
                    <label class="label-inside">Fishing Duration Catch 1:</label>
                    <input type="number" name="hours1" min="0" placeholder="oras na ginugugol sa paghuli ng isda" required>
                </div>

                <div class="gear">
                    <label class="label-inside">Fishing Gear for Catch 1:</label>
                    <select name="gear1" required>
                        <option value="" disabled selected hidden>ginamit na pang-huli</option>
                        {% for item in gear %}
                            <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>            

            <!-- Catch 2 -->
            <label>Catch 2:</label>
            <label class="label-under">Fish Species for Catch 2:</label>
            <select name="catch2" required>
                <option value="" disabled selected hidden>species o klase ng isda</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="two-col-container">
                <div class="price">
                    <label class="label-inside">Price for Catch 2:</label>
                    <input type="number" min="0" name="price2" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <label class="label-inside">Volume for Catch 2:</label>
                    <input  type="number" min="0" name="volume2" placeholder="timbang kada kilo (kg's)" required>
                </div>
            </div>

            <div class="two-col-container">
                <div class="site">
                    <label class="label-inside">Fishing Ground for Catch 2:</label>
                    <select name="site2" required>
                        <option value="" disabled selected hidden>lugar kung saan nahuli ang isda</option>
                        {% for item in site %}
                            <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="landing">
                    <label class="label-inside">Fish Landing Site for Catch 2:</label>
                    <select name="landing2" required>
                        <option value="" disabled selected hidden>lugar na pinagbentahan</option>
                        {% for item in landing %}
                            <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="two-col-container">
                <div class="hours"> 
                    <label class="label-inside">Fishing Duration Catch 2:</label>
                    <input type="number" name="hours2" min="0" placeholder="oras na ginugugol sa paghuli ng isda" required>
                </div>

                <div class="gear">
                    <label class="label-inside">Fishing Gear for Catch 2:</label>
                    <select name="gear2" required>
                        <option value="" disabled selected hidden>ginamit na pang-huli</option>
                        {% for item in gear %}
                            <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>   
            

            <!-- Catch 3 -->
            <label>Catch 3:</label>
            <label class="label-under">Fish Species for Catch 3:</label>
            <select name="catch3" required>
                <option value="" disabled selected hidden>species o klase ng isda</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="two-col-container">
                <div class="price">
                    <label class="label-inside">Price for Catch 3:</label>

                    <input type="number" min="0" name="price3" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <label class="label-inside">Volume for Catch 3:</label>
                    <input  type="number" min="0" name="volume3" placeholder="timbang kada kilo (kg's)" required>
                </div>
            </div>

            <div class="two-col-container">
                <div class="site">
                    <label class="label-inside">Fishing Ground for Catch 3:</label>
                    <select name="site3" required>
                        <option value="" disabled selected hidden>lugar kung saan nahuli ang isda</option>
                        {% for item in site %}
                            <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="landing">
                    <label class="label-inside">Fish Landing Site for Catch 3:</label>
                    <select name="landing3" required>
                        <option value="" disabled selected hidden>lugar na pinagbentahan</option>
                        {% for item in landing %}
                            <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="two-col-container">
                <div class="hours"> 
                    <label class="label-inside">Fishing Duration Catch 3:</label>
                    <input type="number" name="hours3" min="0" placeholder="oras na ginugugol sa paghuli ng isda" required>
                </div>

                <div class="gear">
                    <label class="label-inside">Fishing Gear for Catch 3:</label>
                    <select name="gear3" required>
                        <option value="" disabled selected hidden>ginamit na pang-huli</option>
                        {% for item in gear %}
                            <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>   
            
            <!-- Catch 4 -->
            <label>Catch 4:</label>
            <label class="label-under">Fish Species for Catch 4:</label>
            <select name="catch4" required>
                <option value="" disabled selected hidden>species o klase ng isda</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="two-col-container">
                <div class="price">
                    <label class="label-inside">Price for Catch 4:</label>

                    <input type="number" min="0" name="price4" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <label class="label-inside">Volume for Catch 4:</label>
                    <input  type="number" min="0" name="volume4" placeholder="timbang kada kilo (kg's)" required>
                </div>
            </div>

            <div class="two-col-container">
                <div class="site">
                    <label class="label-inside">Fishing Ground for Catch 4:</label>
                    <select name="site4" required>
                        <option value="" disabled selected hidden>lugar kung saan nahuli ang isda</option>
                        {% for item in site %}
                            <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="landing">
                    <label class="label-inside">Fish Landing Site for Catch 4:</label>
                    <select name="landing4" required>
                        <option value="" disabled selected hidden>lugar na pinagbentahan</option>
                        {% for item in landing %}
                            <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="two-col-container">
                <div class="hours"> 
                    <label class="label-inside">Fishing Duration Catch 4:</label>
                    <input type="number" name="hours4" min="0" placeholder="oras na ginugugol sa paghuli ng isda" required>
                </div>

                <div class="gear">
                    <label class="label-inside">Fishing Gear for Catch 4:</label>
                    <select name="gear4" required>
                        <option value="" disabled selected hidden>ginamit na pang-huli</option>
                        {% for item in gear %}
                            <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>   

            <!-- Catch 5 -->
            <label>Catch 5:</label>
            <label class="label-under">Fish Species for Catch 5:</label>
            <select name="catch5" required>
                <option value="" disabled selected hidden>species o klase ng isda</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>
            <div class="two-col-container">
                <div class="price">
                    <label class="label-inside">Price for Catch 5:</label>

                    <input type="number" min="0" name="price5" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <label class="label-inside">Volume for Catch 5:</label>
                    <input  type="number" min="0" name="volume5" placeholder="timbang kada kilo (kg's)" required>
                </div>
            </div>

            <div class="two-col-container">
                <div class="site">
                    <label class="label-inside">Fishing Ground for Catch 5:</label>
                    <select name="site5" required>
                        <option value="" disabled selected hidden>lugar kung saan nahuli ang isda</option>
                        {% for item in site %}
                            <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="landing">
                    <label class="label-inside">Fish Landing Site for Catch 5:</label>
                    <select name="landing5" required>
                        <option value="" disabled selected hidden>lugar na pinagbentahan</option>
                        {% for item in landing %}
                            <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="two-col-container">
                <div class="hours"> 
                    <label class="label-inside">Fishing Duration Catch 5:</label>
                    <input type="number" name="hours5" min="0" placeholder="oras na ginugugol sa paghuli ng isda" required>
                </div>

                <div class="gear">
                    <label class="label-inside">Fishing Gear for Catch 5:</label>
                    <select name="gear5" required>
                        <option value="" disabled selected hidden>ginamit na pang-huli</option>
                        {% for item in gear %}
                            <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>   

            <!-- submit button -->
            <button  class="proceed" type="submit" id="submitButton">Proceed</button>
            <p id="error-message"></p>
        </form>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <img class="modal-icon" src="{{ url_for('static', filename='Assets/modal.svg') }}">
            </div>
            <div class="modal-body">
                <h3>Your report is submitted!</h3>
                <p>Please wait for approval.</p>
            </div>
            <div class="modal-footer">
                <button id="closeButton" class="ok-button">OK</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('submitButton').addEventListener('click', function (e) {
            e.preventDefault();
            const form = document.getElementById('reportForm');
            const requiredFields = form.querySelectorAll('input[required], select[required]');
            let allFieldsValid = true;

            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    allFieldsValid = false;
                    field.style.border = '2px solid red';
                } else {
                    field.style.border = '';
                }
            });

            const errorMessage = document.getElementById('error-message');
            if (allFieldsValid) {
                errorMessage.style.display = 'none';
                document.getElementById('modal').style.display = 'flex';
            } else {
                errorMessage.textContent = 'Please fill up all fields first before submitting.';
                errorMessage.style.display = 'block';
            }
        });

        document.getElementById('closeButton').addEventListener('click', function () {
            const form = document.getElementById('reportForm');
            document.getElementById('modal').style.display = 'none';
            form.submit();
        });
    </script>
</body>
</html>