<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Report.css') }}">

    <link rel="stylesheet" href="../static/CSS/Report.css">

    <link rel="icon" href="{{url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
    
</head>
<body>
    <div class="container">
        <div class="form-header">
            <div class="form-title">
                <p>Fish Report</p>
            </div>

            <div class="user-icon-container dropdown">
                <button class="dropdown-toggle">
                    <img class="user-icon" src="{{url_for('static', filename='Assets/user.svg') }}">
                </button>
                <div class="dropdown-menu">
                    <a href="{{ url_for('my_reports') }}">My Reports</a>
                    <a href="{{ url_for('logout') }}"><span style="color: red;">Logout</span></a>
                </div>
            </div>
        </div>
        <form method="POST" id="reportForm">
            <label>Name (Boat Captain or Operator): </label>           
            <input type="text" name="name" placeholder="Name" required>

            <label> Fishing Vessel Name:</label>
            <input type="text" name="vessel" placeholder="Vessel" required>

            <label>Registration Number:</label>
            <input type="text" name="regnumber" placeholder="Registration Number" required>

            <label>Contact Number:</label>
            <input type="number" name="contact" placeholder="Contact Number" maxlength="11" pattern=".{11}" required>
        
            <label>Frequency</label>
            <input type="text" name="frequent" placeholder="Frequent" required>

            <label>Date</label>
            <input type="date" name="date" required>

            
            <label>Catch 1:</label>
            <select name="catch1" required>
                <option value="" disabled selected hidden>Choose Species</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="price-volume-container">
                <div class="price">
                    <input type="number" name="price1" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <input  type="number" name="volume1" placeholder="volume (kg's)" required>
                </div>
            </div>

            <label>Catch 2:</label>
            <select name="catch2" required>
                <option value="" disabled selected hidden>Choose Species</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="price-volume-container">
                <div class="price">
                    <input type="number" name="price2" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <input  type="number" name="volume2" placeholder="volume (kg's)" required>
                </div>
            </div>
            
            <label>Catch 3:</label>
            <select name="catch3" required>
                <option value="" disabled selected hidden>Choose Species</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="price-volume-container">
                <div class="price">
                    <input type="number" name="price3" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <input  type="number" name="volume3" placeholder="volume (kg's)" required>
                </div>
            </div>

            <label>Catch 4:</label>
            <select name="catch4" required>
                <option value="" disabled selected hidden>Choose Species</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="price-volume-container">
                <div class="price">
                    <input type="number" name="price4" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <input  type="number" name="volume4" placeholder="volume (kg's)" required>
                </div>
            </div>
            
            <label>Catch 5:</label>
            <select name="catch5" required>
                <option value="" disabled selected hidden>Choose Species</option>
                {% for item in catch %}
                    <option value="{{ item['catchid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <div class="price-volume-container">
                <div class="price">
                    <input type="number" name="price5" placeholder="price per kilo" required>
                </div>

                <div class="volume" >
                    <input  type="number" name="volume5" placeholder="volume (kg's)" required>
                </div>
            </div>

            <label>Fishing Site:</label>
            <select name="site" required>
                <option value="" disabled selected hidden>Site</option>
                {% for item in site %}
                    <option value="{{ item['siteid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <label>Fishing Gear:</label>
            <select name="gear" required>
                <option value="" disabled selected hidden>Gear</option>
                {% for item in gear %}
                    <option value="{{ item['gearid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <label>Fishing Duration:</label>
            <input type="text" name="hours" placeholder="Duration of Fishing" required>

            <label>Fish Landing Site:</label>
            <select name="landing" required>
                <option value="" disabled selected hidden>Landing</option>
                {% for item in landing %}
                    <option value="{{ item['landid'] }}">{{ item['name'] }}</option>
                {% endfor %}
            </select>

            <button  class="proceed" type="button" id="submitButton">Proceed</button>
            <p id="error-message"></p>
        </form>



    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <img class="modal-icon" src="{{ url_for('static', filename='Assets/form.svg') }}">
            </div>
            <div class="modal-body">
                <h3>Your report is submitted!</h3>
                <p>Please wait for approval.</p>
            </div>
            <div class="modal-footer">
                <button id="closeButton" class="ok-button">OK</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('submitButton').addEventListener('click', function (e) {
            e.preventDefault();
            const form = document.getElementById('reportForm');
            const requiredFields = form.querySelectorAll('input[required], select[required]');
            let allFieldsValid = true;

            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    allFieldsValid = false;
                    field.style.border = '2px solid red';
                } else {
                    field.style.border = '';
                }
            });

            const errorMessage = document.getElementById('error-message');
            if (allFieldsValid) {
                errorMessage.style.display = 'none';
                document.getElementById('modal').style.display = 'flex';
            } else {
                errorMessage.textContent = 'Please fill up all fields first before submitting.';
                errorMessage.style.display = 'block';
            }
        });

        document.getElementById('closeButton').addEventListener('click', function () {
            const form = document.getElementById('reportForm');
            document.getElementById('modal').style.display = 'none';
            form.submit();
        });
    </script>
</body>
</html>