<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/visualization.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Assets/DA Logo (no-text).svg') }}">
</head>
<body>
    <!-- Header -->
    <div class="header-bar">
        <h1>Data Visualization</h1>
    </div>

    <div class="container">
        <!-- Form Container -->
        <div class="form-container">
            <form method="POST" action="{{ url_for('visualization_page') }}">
                <!-- Dropdown for Species (Volume / Frequency) -->
                <label for="species">Select a species (Volume / Frequency): </label>
                <select id="species" name="species">
                    <!-- Add 'Overview' as the first option -->
                    <option value="overview" {% if request.form.get('species') == 'overview' %}selected{% endif %}>Overview</option>
                    {% for species in species_list %}
                        <option value="{{ species['catchid'] }}" {% if species['catchid'] == request.form.get('species') %}selected{% endif %}>
                            {{ species['name'] }}
                        </option>
                    {% endfor %}
                </select>

                <!-- Year Dropdown -->
                <label for="year">Select a year:</label>
                <select id="year" name="year">
                    {% for year in range(2022, 2025) %}
                        <option value="{{ year }}" {% if request.form.get('year') == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>

                <!-- Graph Type Dropdown -->
                <label for="graph_type">Select graph type:</label>
                <select id="graph_type" name="graph_type">
                    <option value="volume" {% if request.form.get('graph_type') == 'volume' %}selected{% endif %}>Volume</option>
                    <option value="frequency" {% if request.form.get('graph_type') == 'frequency' %}selected{% endif %}>Frequency</option>
                </select>

                <button type="submit">Generate Graph</button>
            </form>
        </div>

        <!-- Graph Container -->
        <div class="graph-container">
            {% if plot_url %}
                <img src="data:image/png;base64,{{ plot_url }}" alt="Graph">
            {% else %}
                <p>No data available to display the graph.</p>
                {% if no_data_message %}
                    <p>{{ no_data_message }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>
